/*Code a style rule for the paragraphs that contain cite elements. This style rule should right align the paragraphs and increase the spacing below to .75em. One way to do this is to add a class attribute to these paragraphs and use that class as the selector for the style rule.
Float the image to the left and apply appropriate margins or padding so the text flows to its right, as shown above.
Apply rules to the footer or the paragraphs within the footer so the font size is 90% of the default, the font weight is bold, the paragraphs are centered, and the spacing above and below is similar to what’s shown above.*/

html {
    background-color: yellow;
}
body {
    width: 650px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: auto;
    padding: 28px;
    border: 10px double blue;
    background-color: white;
}
main {
    padding: 20 28 0px;
}
footer {
    padding: 20 2px;
    margin-top: 35px;
    border-top: 4px solid blue;
    text-align: center;
}
h1 {
    font-size: 150%;
    color: blue;
}
h2 {
    font-size: 125%;
    padding-top: auto;
    padding-bottom: 10px;
    margin: auto;
}
h3 {
    font-size: 115%;
}
blockquote {
    padding: auto;
    margin: auto;
}
ul {
    padding: 0 20px;
    margin: auto;
}
cite {
    color: blue;
    font-style: normal;
}
.p_cite {
    text-align: right;
}