/*Code the style rules for the <p>, blockquote, ul, and li elements so the spacing before and after the elements is similar to what’s shown above.
Code a style rule for the cite element that changes its color to blue and removes the italics from the text.
Code a style rule for the paragraphs that contain cite elements. This style rule should right align the paragraphs and increase the spacing below to .75em. One way to do this is to add a class attribute to these paragraphs and use that class as the selector for the style rule.
Float the image to the left and apply appropriate margins or padding so the text flows to its right, as shown above.
Apply rules to the footer or the paragraphs within the footer so the font size is 90% of the default, the font weight is bold, the paragraphs are centered, and the spacing above and below is similar to what’s shown above.*/

html {
    background-color: yellow;
}
body {
    width: 650px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: auto;
    border: 10px double blue;
    background-color: white;
}
main {
    padding: 0 28px;
}
footer {
    border-top: 10px blue;
    text-align: center;
}
h1 {
    font-size: 150%;
    color: blue;
}
h2 {
    font-size: 125%;
}
h3 {
    font-size: 115%;
}
