/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* the default styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}
header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article, blockquote { padding-bottom: .5em; }
ul { margin-left: 1em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

/* the styles for the header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& img {
		float: left;
		margin: 0 30px;
		width: clamp(40px, 15%, 66px);
	}
}

/* the styles for the main element */
main {
	clear: left;
	display: flex;
}

/* the styles for the section */
section {
	flex-basis: 75%;
	& h1 {
		color: var(--primary-color);
	}
	& article + h2 {
		clear: left;
		color: var(--primary-color);
		border-top: 3px solid var(--primary-color);
		padding-top: .5em;
	}
}

/* the styles for the article */
article {
	padding-top: .5em;
	margin-bottom: .5em;
	& img {
		float: left;
		margin: .25em 1em 1em 0;
		border: 1px solid var(--dark);
		width: min(100%, 225px);
	}
}

/* the styles for the aside */
aside {
	flex-basis: 25%;
	& h2 {
		color: var(--primary-color);
	}
	& img {
		margin-bottom: .9em;
	}
	& blockquote {
		font-style: italic;
		margin-left: .5em;
	}
}

/* the styles for the footer */
footer {
	background-color: var(--primary-color);
	& p {
		text-align: center;
		color: white;
		padding-bottom: 0; 
	}
}



#navbar ul {
	list-style-type: none;
	position: relative;
}
  
#navbar ul li {
	/*display: inline-block;*/
	float: left;
	background-color: var(--primary-color);
	color: white;
}

#navbar ul li a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	width: 250px;
}

#navbar ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#navbar ul ul li {
	float: none;
}

#navbar ul li:hover > ul {
	display: block;
}

#navbar ul li::after {
	content: "";
	display: block; 
	clear: both;
}

#navbar ul li a.current {
	color: var(--accent-color);
}


/*
3. Add a nested <ul> element to the <li> element for Speakers and assign it to the submenu class. Add a down triangle symbol to the Speakers item.
5. Add the CSS for the navbar, menu, and submenu classes that position and format the navigation menu. The menu should have the same background color as the footer, and the menu items should wrap on small screens.
6. The submenu should be hidden until the mouse hovers over the item that contains it, display directly below the item that contains it, and display on top of the main content.
7. The links in the menu should be white and normal weight, and use the default hover effect of changing to italic when the mouse hovers over them. Make sure the entire link area is clickable.
8. The link for the current page should be bold and the color should be the accent color. In addition, the text shouldn’t change font style when the mouse hovers over it.
*/