* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: auto;
    background-position: center;
    border: 10px double rebeccapurple;
}

html {
    background-color: aliceblue;
}

main {
    clear: left
}

footer {
    border-top: 5px solid rebeccapurple;
    padding-bottom: 5em;
}

h1 {
    font-size: 150%;
    color: rebeccapurple;
    padding-bottom: 5em;
}
h2 {
    font-size: 125%;
    padding-bottom: 5em;
}
h3 {
    font-size: 115%;
    padding-bottom: 5em;
}

p, blockquote, ul, li { 
    padding-bottom: .5em; 
}

cite {
    color: rebeccapurple;
    font-style: normal;
    font-weight: bold;
}

img {
    float: left;
}



/*
13. Float the image to the left and apply appropriate margins or padding so the text floats to its right. Make sure the heading that comes after the image doesn’t float to the right, and that the first paragraph after the image lines up with it at the top.
14. Code style rules for the paragraphs within the footer so the font size is 90% of the default, the font weight is bold, the paragraphs are centered, and the spacing above and below looks  good.
15. Code a style rule that creates three custom properties for the colors used by the page. Then, modify the color and background-color properties in the style sheet so they use the custom property instead of the name of the color.*/