* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: auto;
    background-position: center;
    border: 10px double rebeccapurple;
    background-color: white;
}

html {
    background-color: aliceblue;
}

main {
    clear: left
}

footer {
    border-top: 5px solid rebeccapurple;
    padding-bottom: 5em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

h1 {
    font-size: 150%;
    color: rebeccapurple;
    padding: .9em .8em 0;
}
h2 {
    font-size: 125%;
    padding: 1em 1em .5em;
}
h3 {
    font-size: 115%;
    padding: 1em 1em 0;
}

p {
    padding: .5em 1em 0;
}

blockquote{
    padding: 0 1em;
}

ul {
    padding: .5em 2.3em 1.5em;
    
}

li { 
    padding: 0 .5em; 
}

cite {
    color: rebeccapurple;
    font-style: normal;
    font-weight: bold;
    padding: 0;
}

img {
    float: left;
    padding: 1em;
}
